html {
    box-sizing: border-box;
    scroll-behavior: smooth;
    height: 100%;
}

body {
    height: 100%;
}

// body.show-modal {
//     overflow: hidden;
// }

img {
    display: block;
    // max-width: 100%;

    height: auto;
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1 1 auto;
}

b {
    display: block;
}