@font-face {
    font-family: Roboto-regular;
    src: url('/src/fonts/Roboto-Regular.ttf');
    font-display: swap;
}

@font-face {
    font-family: Roboto-medium;
    src: url('/src/fonts/Roboto-Medium.ttf');
    font-display: swap;
}

body {
    font-family: Roboto-medium, 'Arial', sans-serif;
    @include fonts(500, 12px, 20px);
    background-color: var(--main-bg-cl);
    color: var(--main-text-cl);
}