:root {
    /* text colors*/
    --main-text-cl: #000000;
    --main-text-cl-dark: #eee4e4d3;
    ;
    --secondary-text-cl: #FF6B08;
    --header-text-cl:#ffffff;
    --footer-text-cl: #545454;
    --modal-secondaty-text-cl: #8C8C8C;
    --error-cl: #FF001B;

    /* background colors */
    --main-bg-cl: #FFFFFF;
    --button-bg-cl: rgb(255, 106, 0);
    --secondary-bg-cl: #F7F7F7;
    --adver-bg-cl: #f4f4f4;
    --advert-border-cl: #e9e9e9;

    /* animation */
    --transition-duration: 300ms;
    --transition-timing-function: ease-in-out;
}


