:root {
    /* text colors*/
    --main-text-cl: #000000;
    --secondary-text-cl: #FF6B08;
    --footer-text-cl: #545454;
    --modal-secondaty-text-cl: #8C8C8C;
    --error-cl: #FF001B;

    // /* background colors */
    --main-bg-cl: #FFFFFF;
    --button-bg-cl: #FF6B01;
    --secondary-bg-cl: #F7F7F7;

    /* animation */
    --transition-duration: 300ms;
    --transition-timing-function: ease-in-out;
}