<section class="film-cards">
  <h2 class="visually-hidden">Film cards</h2>
  <div class="container film-cards__container">
    <div class="container-spiner">
      <div class="lds-spinner is-hidden">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
    </div>

    <!-- Slider main container -->
    <div class="swiper">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper"></div>
    </div>

    <ul class="cards__list cards__list--home list cards__container"></ul>

    <div class="advertising">
      <a
        rel="noopener	nofollow noreferrer"
        target="_blank"
        class="advertising__link link"
        href="https://prytulafoundation.org/uk"
      >
        <svg class="advertising__icon" width="242" height="64">
          <use href="./images/symbol-defs.svg#icon-fond"></use>
        </svg>
      </a>
      <a
        rel="noopener	nofollow noreferrer"
        target="_blank"
        class="advertising__btn link"
        href="https://prytulafoundation.org/uk/home/support_page"
        data-key="support"
        >Support</a
      >
    </div>
  </div>
</section>
