<!-- BUTTON Library -->
<!-- <div class="box_btn">
  <button
    type="button"
    class="btn_library watched"
    data-label="REMOVE"
    data-action="watched"
  >
    <span class="label"> WATCHED</span>
  </button>

  <button
    type="button"
    class="btn_library queue"
    data-label="REMOVE"
    data-action="queue"
  >
    <span class="label"> QUEUE</span>
  </button>
</div> -->
<!-- BUTTON -->

<!-- BUTTON Modal -->
<div class="box-modal_btn">
  <button
    type="button"
    class="btn_modal modal_watched"
    data-label=""
    data-action=""
  >
    <span class="label"> ADD TO WATCHED</span>
  </button>

  <button
    type="button"
    class="btn_modal modal_queue"
    data-label=""
    data-action=""
  >
    <span class="label"> ADD TO QUEUE</span>
  </button>
</div>
<!-- BUTTON -->
