<header class="page-header">
  <div class="animation__container"></div>
  <div class="container page-header__container animation__content">
    <nav class="navigation">
      <a class="logo link" href="./index.html">
        <svg class="logo__icon" width="24" height="24">
          <use href="./images/symbol-defs.svg#film-icon"></use>
        </svg>
        <span class="logo__text"> Filmoteka </span>
      </a>

      <ul class="menu list">
        <li class="menu__item">
          <a class="menu__link link menu__link--ancurrent" href="./index.html">Home
          </a>
        </li>
        <li class="menu__item">
          <a class="menu__link link menu__link--current" href="./library.html">My library
          </a>
        </li>
      </ul>
    </nav>

    <div class="library-btns">
      <button
        id="watched"
        class="library-btns__item library-btns__item--watched"
        type="button">Watched
      </button>
      <button 
        id="queue"
        class="library-btns__item" 
        type="button">Queue
      </button>
    </div>
  </div>
</header>
