<div class="backdrop_students is-hidden">
  <div class="modal-wrapper_students">
    <div class="form-modal_students">
      <div class="metod">
        <a
          class="metod-name"
          href="https://uk.wikipedia.org/wiki/HTML"
          target="_blank"
          >HTML</a
        ><a
          class="metod-name"
          href="https://uk.wikipedia.org/wiki/CSS"
          target="_blank"
          >CSS</a
        ><a
          class="metod-name"
          href="https://uk.wikipedia.org/wiki/JavaScript"
          target="_blank"
          >JS</a
        >
      </div>

      <ul class="students list containeras" id="main"></ul>
      <button class="modal-btn_students">
        <p class="close">close</p>
        <!-- <svg class="students-svg" width="20" height="20">
          <use href="./images/symbol-defs.svg#icon-close"></use>
        </svg> -->
      </button>
    </div>
  </div>
</div>
