<div class="backdrop_students is-hidden">
  <div class="modal-wrapper_students">
    <div class="form-modal_students">
      <div class="metod">
        <div class="metod-box">
          <p class="metod-name">HTML</p>
          <p class="metod-name">CSS/SASS</p>
          <p class="metod-name">JavaScript</p>
          <p class="metod-name">Parcel</p>
          <p class="metod-name">REST API</p>
          <p class="metod-name">JNpm</p>
          <p class="metod-name">GIT</p>
        </div>
      </div>
      <div class="data-student is-hidden"></div>
      <ul class="students list containeras" id="main"></ul>
    </div>
  </div>
</div>
