// .advertising{
//     display: none;

//     @include mq(desktop){
//         display: block;
//         position: absolute;
//         right: 84px;
//         bottom: 325px;

//         display: flex;
//         flex-direction: column;
//         justify-content: center;
//         align-items: center;
//         gap: 5px;

//         width: 290px;
//         height: 160px;
//         padding: 16px 24px;
//         border-top: 1px solid #e9e9e9;
//         border-bottom: 1px solid #e9e9e9;
//         background-color: #f4f4f4;
//         border-radius: 10px;
//         text-align: center;
//         //анимация
//         -webkit-animation: swing 6s ease-in-out infinite forwards;
//             animation: swing 6s ease-in-out infinite forwards;
        
//         transition: box-shadow var(--transition-duration) var(--transition-timing-function);
//     }

//     &:hover,
//     &:focus{
//         box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
//             0px 4px 5px 0px rgba(0, 0, 0, 0.14), 
//             0px 1px 10px 0px rgba(0, 0, 0, 0.12);
//     }
    
//     &__link{
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         width: 100%;
//         height: 64px;
//     }

//     &__btn{
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         min-width: 130px;
//         padding: 13px 36px;
//         box-shadow: 0px 4px 20px rgb(212 130 50 / 25%);
//         border-radius: 5px;
//         cursor: pointer;
        
//         @include fonts(500, 12px, 16px, uppercase);

//         color: var(--header-text-cl);
//         background: var(--button-bg-cl);
        
//         transform: scale(1);
        
//         transition: transform var(--transition-duration) var(--transition-timing-function);
//     }

//     &__btn:hover,
//     &__btn:focus {
//         transform: scale(1.05);
//     }
// }   
.advertising {
    @include mq(not-desktop) {
        display: none;
    }
    position: fixed;
    display: flex;
    top: 40%;
    left: 0;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    padding: 10px;
    border-top: 1px solid var(--advert-border-cl);
    border-bottom: 1px solid var(--advert-border-cl);
    background-color: var(--adver-bg-cl);
    border-radius: 10px;
    text-align: center;
    z-index: 1;

    transform: translateX(-100%);
    transition: transform 1000ms var(--transition-timing-function);

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 64px;
    }

    &__btn {
        display: flex;
        align-items: center;
        justify-content: center;
        min-width: 130px;
        padding: 13px 36px;
        box-shadow: 0px 4px 20px rgb(212 130 50 / 25%);
        border-radius: 5px;
        cursor: pointer;

        @include fonts(500, 12px, 16px, uppercase);

        color: var(--header-text-cl);
        background: var(--button-bg-cl);

        transform: scale(1);
        transition: transform var(--transition-duration) var(--transition-timing-function);

        &__btn:hover,
        &__btn:focus {
            transform: scale(1.5);
        }
    }
}

.advertising.is-visible {
    transform: translateX(0%);
}

.advertising.semi-visible{
        transform: translateX(-80%);
        transition: transform 800ms var(--transition-timing-function);
        background-image: url("/src/images/hand-heart.png");
        background-repeat: no-repeat;
        background-position: right 10px top 50%;
        background-size: 50px 50px;

        & .advertising__link,
        & .advertising__btn {
            opacity: 0;
        }

        & .advertising__btn {
            transform: scale(1);
            transition: transform var(--transition-duration) var(--transition-timing-function);
            
                & .advertising__btn:hover,
                & .advertising__btn:focus {
                    transform: scale(1.5);
                }
        }

        &:hover {
            transform: translateX(0%);
            background-image: none;

            & .advertising__link,
            & .advertising__btn {
                opacity: 1;
            }
        }
}