.box_btn,
.box-modal_btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn_library {
  
  width: 148px;
  height: 42px;
  color: var(--main-bg-cl);
  margin-top: 40px;
  border: 1px solid var(--main-bg-cl);
  border-radius: 5px;

  font-family: Roboto-medium;
  @include fonts(500, 12px, 16px, uppercase);
  font-style: normal;
  /* or 133% */

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  // text-transform: uppercase;

  color: var(--main-bg-cl);

  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.56);
  /* transition: font-weight 250ms linear, color 250ms linear,
    background-color 250ms linear; */
}

.watched {
  margin-right: 16px;
  /* margin-left: 484px; */
  // @media screen and (max-width: #{$tablet - 0.02}) {
  //   margin-right: 20px;
  // }

  // @media screen and (min-width: $tablet) and (max-width: #{$desktop - 0.02}) {
  //   margin-right: 32px;
  // }
}

.btn_modal {
  width: 136px;
  height: 44px;
  margin-top: 20px;

  // @media screen and (max-width: #{$tablet - 0.02}) {
  //   width: 110px;
  //
  // }

  // @media screen and (min-width: $tablet) and (max-width: #{$desktop - 0.02}) {
  //   width: 125px;
  // }

  /* transform: translateX(-50%); */
  border: 1px solid var(--main-text-cl);
  border-radius: 5px;

  font-family: Roboto-medium;
  @include fonts(500, 12px, 16px, uppercase);
  font-style: normal;
  /* or 133% */

  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: var(--main-text-cl);

  cursor: pointer;
  background-color: var(--main-bg-cl);
  /* transition: font-weight 250ms linear, color 250ms linear,
    background-color 250ms linear; */
}

.watched {
  margin-right: 15px;
  /* margin-left: 484px; */
  // @media screen and (max-width: #{$tablet - 0.02}) {
  //   margin-right: 20px;
  // }

  // @media screen and (min-width: $tablet) and (max-width: #{$desktop - 0.02}) {
  //   margin-right: 15px;
  // }
}

.btn:hover,
.btn:focus {
  background: var(--button-bg-cl);
  border-radius: 5px;
  background-color: var(--button-bg-cl);
  border: 1px solid var(--button-bg-cl);
  color: var(--main-bg-cl);
}
