.search-form {
    position: relative;
    width: 280px;
    margin-left: auto;
    margin-right: auto;

    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;
            animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) 1s both;

    @include mq(tablet){
        width: 336px;
    }

    @include mq(desktop) {
        width: 394px;
    }

    &__input {
        width: 100%;
        padding: 4px 0;
        outline: transparent;
        background-color: transparent;
        border: none;
        border-bottom: 0.5px solid var(--main-bg-cl);

        color: var(--main-bg-cl);
        font-family: Roboto-regular;
        @include fonts(400, 14px, 16px);
    }

    &__input::placeholder{
        color: var(--main-bg-cl);

        @include fonts(400, 14px, 16px);
    }

    &__button {
        position: absolute;
        right: 0;
        top: 0;
        height: 25px;
        min-width: 32px;
        padding: 6px 0 6px 20px;
        cursor: pointer;

        background-color: transparent;
        border: none;
        
    }

}