body.show-modal .modal-card-backdrop {
    opacity: 1;
    visibility: visible;
    pointer-events: initial;
}

body.show-modal .modal-container {
    transform: scale(1);
}

.modal-card-backdrop {
    display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 999;
        padding: 20px;
        // overflow-y: scroll;
    
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        transition: opacity 400ms ease-in-out, visibility 400ms ease-in-out;
}

.modal-container {
    overflow: auto;
    margin: auto;
    background-color: var(--main-bg-cl);
    max-height: 90%;
    padding: 48px 20px 48px 20px; 
    border-radius: 5px;
    overflow-y: scroll;
    padding: 20px;
    padding-top: 48px;
    max-width: 640px;
    width: 100%;
    min-height: 320px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
            0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px -1px rgba(0, 0, 0, 0.12);
    
    transform: scale(1.3);
    transition: transform 400ms ease-in-out;
}

.modal-close-button {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    cursor: pointer;
    top: 10px;
    right: 10px;

    width: 20px;
    height: 20px;
   
    border-radius: 50%;
    box-shadow: 0px 6px 6px 0px var(--button-bg-cl);
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--main-bg-cl);

    font-size: 16px;
    color: var(--main-text-cl);

    transition: all 250ms linear;

    &:focus,
    &:hover {
        background-color: var(--button-bg-cl);
        border: 1px solid transparent;
        fill: var(--main-bg-cl);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
.modal-close-icon {
    width: 12px;
    height: 12px; 
}

.movie {
    &--left-side {
        margin-bottom: 0px 0px 30px 0px;
    }
}
.movie__container--left-side {
   position: relative;
   display: flex;
   justify-content: center;
   min-width: 240px;
   max-width: 375px;
   min-height: 357px;
   margin-bottom: 20px;
   overflow: hidden;    
}
/*.movie__container--left-side:hover .movie__btn-trailer {
    transform: translateX(0);
}*/
.movie__image {   
    width: 100%;
    max-width: 375px;
    max-height: 478px;

    border-radius: 5px;  
   // transition: 500ms transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

/*.movie__image:hover,
.movie__image:focus {
    cursor: pointer;
    transform: scale(120%, 120%);
}*/

.movie__btn-trailer {
    position: absolute;  
    display: block;       
    justify-content: center;
    align-items: center;  
    text-align: center; 
    top: 0;
    left: 0;
  
    width: 100%; 
    height: 100%;

    background-color: transparent;   
    border-radius: 5px;
    
    transform: translateX(-100%);  
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

// Для моб.верисии при необходимости фиксированная кнопка Трейлера на постер//
.movie__btn-trailer {  
    position: absolute;  
    display: block;       
    justify-content: center;
    align-items: center;  
    text-align: center; 
    top: 45%;
    left: 65%;

    width: 120px;
    height: 60px;
    border: 1px solid transparent;
    background-color: transparent;
}

.movie__btn-trailer--bad {
    background-color: var(--error-cl);
}

.movie__title {
    font-size: 20px;
    line-height: 1.15;

    text-transform: uppercase;
    text-align: start;
    margin-bottom: 20px;
}

.movie__info {
    width: 100%;
    margin-bottom: 20px;

    &-rows {
        td {
            padding-bottom: 10px;
        }

        &--last {
            td {
                padding-bottom: 0;
            }
        }
    }

    &-name {
        color: var(--modal-secondaty-text-cl);
        width: 108px;
        padding-right: 10px;
    }

    &-numbers {
        line-height: 1.17;
    }

    &-rating {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;

        &-value {
            display: flex;
            align-items: center;
            justify-content: center;

            background-color: var(--secondary-bg-cl);
            color: var(--main-text-clr);
            border-radius: 5px;
            padding-left: 4px;
            padding-right: 4px;
        }

        &-slash {
            color: var(--modal-secondaty-text-cl);
            padding: 0 3px;
        }

        &--accent {
            background-color: var(--button-bg-cl);
            color: var(--main-bg-cl);
            padding-left: 9px;
            padding-right: 9px;
        }
    }
}

.movie__about {
    &-title {
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    &-text {
        line-height: 1.67;
        margin-bottom: 21px;
        // overflow: auto;
    }
}
.movie__btn-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;    
}
.movie__btn {
    margin-right: 20px;
    cursor: pointer;

    &.btn--accent {
        width: 110px;
        height: 44px;

        background-color: var(--button-bg-cl);
        color: var(--main-bg-cl);
        font-size: 12px;
        font-weight: 500;
        line-height: 1.33;
        letter-spacing: 0em;
        text-align: center;

        border-radius: 5px;
        border-color: transparent;        
    }

    &.btn-queue {
        width: 110px;
        height: 44px;

        background-color: var(--main-bg-cl);
        border: 1px solid var(--main-text-cl);
        color: var(--main-text-cl);
        font-size: 12px;
        font-weight: 500;
        line-height: 1.33;
        letter-spacing: 0em;
        text-align: center;
        border-radius: 5px;
    }

    &:last-child {
        margin-right: 0;  
    }

    &-container {
        display: flex;
        flex-wrap: nowrap;
    }

   /* &[data-action='remove-from-queue'] {
        box-shadow: inset 0px 0px 26px 0 #ff6b0882;
        border: 1px solid #642800db;
        color: var(--main-bg-cl);
        background-color: transparent;
    }*/
    &.btn-queue:hover,
    &.btn-queue:focus {
        background-color: var(--main-bg-cl);
        color: var(--secondary-text-cl);
        border: 2px solid var(--secondary-text-cl);

        //анимация
        -webkit-animation: swing 6s ease-in-out infinite forwards;
        animation: swing 6s ease-in-out infinite forwards;
        
        transition: box-shadow var(--transition-duration) var(--transition-timing-function);
 
    }

    &.btn--accent:hover,
    &.btn--accent:focus {
        background-color: var(--main-bg-cl);
        color: var(--secondary-text-cl);
        border: 2px solid var(--secondary-text-cl);

       //анимация
       -webkit-animation: swing 6s ease-in-out infinite forwards;
       animation: swing 6s ease-in-out infinite forwards;
   
   transition: box-shadow var(--transition-duration) var(--transition-timing-function);
    }

}

// ========tablet======//
@include mq(tablet) {
    .modal-container {
        max-width: 704px;
        padding: 40px 36px;        
    }

    .movie {
        &__container {
            display: flex;
            flex-wrap: nowrap;
            align-items: center;

            &--left-side {  
               // align-self: start;         
                width: 264px;
                margin-bottom: 0px;
                margin-top: 0;               
            }
            &--left-side:hover .movie__btn-trailer {
                transform: translateX(0);
            }

            &--rigth-side {
                width: 264px;
                margin-left: 68px;
            }
        }

        &__about-text {
            max-height: 236px;
            overflow-y: scroll;
        }
    }
    .modal-close-button {
        width: 30px;
        height: 30px;
    }
    .modal-close-icon {
        width: 25px;
        height: 25px;
    }
    .movie__image {
        // display: block;
        // object-fit: cover;
        width: 100%;
        height: 373.5px;       
        margin: 0;

        transition: 500ms transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }
    .movie__btn {
        &.btn--accent {
            width: 125px;           
          }
    
        &.btn-queue {
            width: 125px;           
    }
}
.movie__btn-trailer {
    position: absolute;  
    display: block;       
    justify-content: center;
    align-items: center;  
    text-align: center; 
    top: 0;
    left: 0;
  
    width: 100%; 
    height: 100%;
    border-radius: 5px;
    border-color: transparent;    
    
    transform: translateX(-100%);  
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}
}

// ======= desktop =====//
@include mq(desktop) {
    .modal-container {
        max-width: 806px;
        padding: 40px 12px 40px 12px;
    }

    .movie {
        &__container {
            &--left-side {
                display: block;
                width: 375px;
                height: 478px;
                overflow: hidden;
            }
            &--left-side:hover .movie__btn-trailer {
                transform: translateX(0);
            }
            &--rigth-side {
                width: 391px;
                margin-left: 16px;
            }
        }
        &__title {
            font-size: 30px;
            line-height: 1.17;
        }
        &__about-text {
            max-height: 160px;
            overflow-y: scroll;
        }
    }

    .movie__image {  
        margin: 100%;
        max-width: 375px;
        height: 478px;       
        margin: 0;
        padding: 0;

        transition: 500ms transform cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .movie__btn {
        &.btn--accent {
            width: 136px;            
        }
    
        &.btn-queue {
            width: 136px;            
    }
}
.movie__btn-trailer {
    position: absolute;  
    display: block;       
    justify-content: center;
    align-items: center;  
    text-align: center; 
    top: 0;
    left: 0;
  
    width: 100%; 
    height: 100%;
    border-radius: 5px;
    border-color: transparent;    
    
    transform: translateX(-100%);  
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;
}

}