.search-form__list {
  margin: 0;
  padding: 5px;
  border-radius: 10px;

  color: var(--error-cl);
}

.search-form__list--bgc {
  background-color: var(--footer-text-cl);
}

.search-form--badrequest {
  margin: 0;
  color: var(--error-cl);
  background-color: transparent;
}