.swiper {
    @include mq(mobile-only) {
        display: none;
    }

    @include mq(tablet) {
        width: 690px;
    }

    @include mq(desktop) {
        width: 1210px;
    }
}

.swiper-slide {
    text-align: center;
}

.slider-img {
    border-radius: 20px;
    display: block;

    @include mq(tablet) {
        width: 220px;
    }
}
