.page-header {
  position: relative;
  height: 230px;

  overflow: hidden;

  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-image: url(../images/header/home/bg-header_mob.jpg);
  background-image: url(../images/header/home/bg-header_mob.webp);

  @include mq(retina) {
    background-image: url(../images/header/home/bg-header_mob@2x.jpg);
    background-image: url(../images/header/home/bg-header_mob@2x.webp);
  }

  @include mq(tablet) {
    height: 216px;

    background-image: url(../images/header/home/bg-header_tab.jpg);
    background-image: url(../images/header/home/bg-header_tab.webp);

    @include mq(retina) {
      background-image: url(../images/header/home/bg-header_tab@2x.jpg);
      background-image: url(../images/header/home/bg-header_tab@2x.webp);
    }
  }

  @include mq(desktop) {
    background-image: url(../images/header/home/bg-header_des.jpg);
    background-image: url(../images/header/home/bg-header_des.webp);
    
    @include mq(retina) {
      background-image: url(../images/header/home/bg-header_des@2x.jpg);
      background-image: url(../images/header/home/bg-header_des@2x.webp);
    }
  }

  &--library{
    height: 230px;
    //анимация фона
    -webkit-animation: kenburns-top-right 10s ease-out both;
    animation: kenburns-top-right 10s ease-out both;
    
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/header/library/bg-header-lib_mob.jpg);
    background-image: url(../images/header/library/bg-header-lib_mob.webp);
    
    @include mq(retina) {
      background-image: url(../images/header/library/bg-header-lib_mob@2x.jpg);
      background-image: url(../images/header/library/bg-header-lib_mob@2x.webp);
    }
    
    @include mq(tablet) {
      background-image: url(../images/header/library/bg-header-lib_tab.jpg);
      background-image: url(../images/header/library/bg-header-lib_tab.webp);
    
      @include mq(retina) {
        background-image: url(../images/header/library/bg-header-lib_tab@2x.jpg);
        background-image: url(../images/header/library/bg-header-lib_tab@2x.webp);
      }
    }
    
    @include mq(desktop) {
      background-image: url(../images/header/library/bg-header-lib_des.jpg);
      background-image: url(../images/header/library/bg-header-lib_des.webp);
    
      @include mq(retina) {
        background-image: url(../images/header/library/bg-header-lib_des@2x.jpg);
        background-image: url(../images/header/library/bg-header-lib_des@2x.webp);
      }
    }
  }

  &__container {
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    right: 0;

    @include mq(mobile-gummy) {
      width: 100%;
    }

    @include mq(mobile-fixed) {
      width: 480px;
    }
  }

  &__content{
    position: absolute;
    top: 0;
    height: 100%;
    left: 20px;
    right: 20px;

    @include mq(tablet){
      left: 32px;
      right: 32px;
    }
  }
}

.navigation {
  display: flex;
  align-items: center;

  margin-bottom: 60px;
  padding-top: 44px;
  padding-bottom: 3px;

  @include mq(tablet) {
    margin-bottom: 40px;
  }
}

.logo {
  display: flex;
  align-items: center;
  margin-right: auto;
  gap: 8px;
  height: 24px;

  color: var(--main-bg-cl);

  @include fonts(500, 30px, 35px);

  @include mq(desktop) {
    gap: 10px;
  }

  &__icon {
    @include mq(mobile-only) {
      -webkit-animation: swirl-in-fwd 0.6s ease-out both;
      animation: swirl-in-fwd 0.6s ease-out both;
    }
  }

  &__text {
    display: none;

    @include mq(tablet) {
      display: block;
      -webkit-animation: tracking-in-contract-bck 1s
        cubic-bezier(0.215, 0.61, 0.355, 1) both;
      animation: tracking-in-contract-bck 1s cubic-bezier(0.215, 0.61, 0.355, 1)
        both;
    }
  }
}

.menu {
  display: flex;
  gap: 30px;
  margin-right: 30px;

  @include mq(tablet) {
      gap: 40px;
    }
  
  &__item {
    color: var(--main-bg-cl);

    @include fonts(500, 12px, 14px, uppercase);

    @include mq(tablet){
      @include fonts(500, 14px, 14px, uppercase);
    }

    @include mq(desktop) {
      @include fonts(500, 16px, 14px, uppercase);
    }
  }

  &__link {
    position: relative;
    display: block;
    padding-top: 3px;
    padding-bottom: 3px;

    @include mq(tablet){
      padding-bottom: 4px;
    }

    @include mq(desktop) {
      padding-bottom: 5px;
    }
  }

  &__link--current::after {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 3px;

    background-color: var(--error-cl);
  }

  &__link--ancurrent::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: 0;

    display: block;
    width: 100%;
    height: 3px;

    background-color: var(--error-cl);

    transform: scaleX(0);
    transition: transform var(--transition-duration)
      var(--transition-timing-function);
  }

  &__link--ancurrent:hover::after {
    transform: scaleX(1);
  }
}

.filter {
  display: flex;
  justify-content: center;
  gap: 20px;

  @include mq(tablet) {
    gap: 32px;
  }

  @include mq(desktop) {
    gap: 16px;
  }

  &__btn {
    min-width: 130px;
    padding: 13px 36px;
    border: 1px solid var(--main-bg-cl);
    border-radius: 5px;
    cursor: pointer;

    background-color: transparent;
    color: var(--main-bg-cl);

    @include fonts(500, 12px, 16px, uppercase);

    transform: scale(1);

    transition: transform var(--transition-duration) var(--transition-timing-function);

    @include mq(tablet) {
      min-width: 152px;
      padding: 13px 46px;
    }

    @include mq(desktop) {
      min-width: 148px;
      padding: 13px 42px;
    }
  }

  &__btn--accent {
    background-color: var(--button-bg-cl);
    border-color: var(--button-bg-cl);
  }

  &__btn:hover,
  &__btn:focus {
    transform: scale(1.05);
  }
}

.mobile-charity {
  display: none;
  @include mq(mobile-only) {
    position: absolute;
    bottom: 7px;
    right: 15px;
    display: inline-block;
  }
}