.page-header{
    height: 230px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(../images/header/bg-header_mob.jpg);

    @include mq(retina) {
        background-image: url(../images/header/bg-header_mob@2x.jpg);
    }

    @include mq(tablet){
        height: 216px;

        background-image: url(../images/header/bg-header_tab.jpg);

        @include mq(retina){
            background-image: url(../images/header/bg-header_tab@2x.jpg);
        }
    }

    @include mq(desktop) {
        background-image: url(../images/header/bg-header_des.jpg);
    
        @include mq(retina) {
            background-image: url(../images/header/bg-header_des@2x.jpg);
        }
    }

    &--library{
        background-image: url(../images/header/bg-header-lib_mob.jpg);
    
        @include mq(retina) {
            background-image: url(../images/header/bg-header-lib_mob@2x.jpg);
        }
    
        @include mq(tablet) {
            height: 216px;
    
            background-image: url(../images/header/bg-header-lib_tab.jpg);
    
            @include mq(retina) {
                background-image: url(../images/header/bg-header-lib_tab@2x.jpg);
            }
        }
    
        @include mq(desktop) {
            background-image: url(../images/header/bg-header-lib_des.jpg);
    
            @include mq(retina) {
                background-image: url(../images/header/bg-header-lib_des@2x.jpg);
            }
        }
    }    

    &__container {
        height: 100%;

        @include mq(mobile-gummy) {
            width: 100%;
        }
        
        @include mq(mobile-fixed) {
            width: 480px;
        }
    }
}

.navigation{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    margin-bottom: 60px;
    padding-top: 44px;
    padding-bottom: 3px;

    @include mq(tablet){
        margin-bottom: 40px;
    }
}

.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    height: 24px;

    color: var(--header-text-cl);

    @include fonts(500, 30px, 35px);

    @include mq(desktop) {
            gap: 10px;
        }

    &__text{
        display: none;

    @include mq(tablet){
        display: block;
    }  
    }
}

.menu{
    display: flex;
    gap: 40px;

    &__item{
        color: var(--header-text-cl);

        @include fonts(500, 12px, 14px, uppercase);
    }

    &__link{
        position: relative;
        display: block;
        // padding-top: 44px;
        padding-bottom: 3px;
    }

    &__link--current::after {
        content: '';

        position: absolute;
        bottom: 0;
        left: 0;

        display: block;
        width: 100%;
        height: 3px;

        background-color: var(--error-cl);
    }

    &__link--ancurrent::after {
        content: '';
        
        position: absolute;
        left: 0;
        bottom: 0;
        
        display: block;
        width: 100%;
        height: 3px;
        
        background-color: var(--error-cl);
        
        transform: scaleX(0);
        transition: transform var(--transition-duration) var(--transition-timing-function);
    }  
    
    &__link--ancurrent:hover::after {
        transform: scaleX(1);
    }
}

.library-btns{
    display: flex;
    justify-content: center;
    gap: 20px;

    @include mq(tablet){
        gap: 32px;
    }

    @include mq(desktop) {
        gap: 16px;
    }

    &__item{
        min-width: 130px;
        padding: 13px 36px;
        border: 1px solid var(--header-text-cl);
        border-radius: 5px;
        cursor: pointer;
        
        background-color: transparent;
        color: var(--header-text-cl);
        
        @include fonts(500, 12px, 16px, uppercase);

        transform: scale(1);
        
        transition: transform var(--transition-duration) var(--transition-timing-function);
        
        @include mq(tablet) {
            min-width: 152px;
            padding: 13px 46px;
        }
        
        @include mq(desktop) {
            min-width: 148px;
            padding: 13px 42px;
        }
    }

    &__item--watched{
        background-color: var(--button-bg-cl);
        border-color: var(--button-bg-cl);
    }

    &__item:hover{
        transform: scale(1.05);
    }
}




