.cards__container {
    padding-top: 20px;

    @include mq(tablet) {
        padding-top: 60px;
    }
}

.movie-card__img {
    @include mq(tablet) {
        width: 336px;
        height: 455px;
    }

    @include mq(desktop) {
        width: 394px;
        height: 574px;
    }
}